[submodule "vendor/small_vector"]
	path = vendor/small_vector
	url = https://github.com/gharveymn/small_vector
	branch = v0.10.2

[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = 12.0.0
