repos:
  - repo: local
    hooks:
      - id: meson
        name: meson
        language: python
        entry: meson format -e -i
        files: ^(.*/)?(meson\.build|meson\.format)$
        additional_dependencies: ['meson==1.6.0']

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject
        language: python
        # Optional extra validations from SchemaStore:
        additional_dependencies: [ "validate-pyproject-schema-store[all]==2024.11.22" ]
        args:
          - --disable
          - ruff
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-ast
      - id: check-builtin-literals
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-added-large-files # check for file bigger than 500kb
      - id: debug-statements
      - id: trailing-whitespace
        exclude: '.*\.bin'
      - id: mixed-line-ending
        args: [ --fix=lf ]
        exclude: '.*\.bin'
      - id: end-of-file-fixer
        exclude: '.*\.bin'
      - id: fix-byte-order-marker
        exclude: '.*\.bin'

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.5
    hooks:
      - id: clang-format
        types_or: [ c++, c, cuda ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.1
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
