[project]
#! Update all entries in the top half of this file.
name='CythonProjectTemplate'
version = '0.1.0'
description='A simple project structure for starting new Cython projects.'
authors= [ 
    {name = 'Joe P. Renaud', email = 'Joe.P.Renaud@gmail.com'}
    ]
requires-python = ">=3.8"
dependencies = [
]

license = {file = "LICENSE.md"}
readme = "README.md"
keywords = [
]

classifiers = [
]

[project.urls]
"Homepage" = "https://github.com/jrenaud90/CythonProjectTemplate"
"Bug Tracker" = "https://github.com/jrenaud90/CythonProjectTemplate/issues"

[project.optional-dependencies]
dev = [
]

# Note the entries below probably should not be changed unless there is a specific need.
[build-system]
requires = [
    'setuptools>=64.0.0',
    'numpy>=1.22',
    'cython>=3.0.0',
    'wheel>=0.38'
]
build-backend = "setuptools.build_meta"

[tool.setuptools]
py-modules = ["_build"]
include-package-data = true

[tool.setuptools.cmdclass]
build_py = "_build.build_package"
build_ext = "_build.build_ext"

[tool.setuptools.packages]
find = {}

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -v"
testpaths = [
    "Tests"
]

[tool.cibuildwheel]
build = "*"
