meson-python>=0.14.0
meson[ninja]==1.7.2
flit-core < 4

typing_extensions

mypy ; implementation_name == "cpython"
# test
pytest==8.3.5
pytest-cov==6.1.0
pytest-codspeed==3.2.0 ; implementation_name == "cpython"
pytest-github-actions-annotate-failures==0.3.0
# lint
pre-commit ; implementation_name == "cpython"
