meson-python>=0.14.0
meson[ninja]>=1.2.1

typing_extensions

mypy ; implementation_name == "cpython"
# test
pytest==8.3.4
pytest-cov==6.0.0
pytest-codspeed==3.0.0 ; implementation_name == "cpython"
pytest-github-actions-annotate-failures==0.2.0
# lint
pre-commit ; implementation_name == "cpython"
