pybind11
setuptools

typing_extensions

mypy ; implementation_name == "cpython"
# test
pytest==8.3.3
pytest-cov==5.0.0
pytest-codspeed==2.2.1
pytest-github-actions-annotate-failures==0.2.0
# lint
pre-commit ; implementation_name == "cpython"
