name: build conda packages

on:
  workflow_call:

jobs:
  build-unix:
    name: Build conda (unix)
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-15
          - os: macos-15-intel
          - os: ubuntu-24.04
          - os: ubuntu-24.04-arm

    env:
      RATTLER_BUILD_EXPERIMENTAL: 'true'

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'

      - uses: actions/setup-python@v6
        with:
          python-version: '^3.11.0'

      - uses: jaxxstorm/action-install-gh-release@v2.1.0
        with:
          repo: prefix-dev/rattler-build
          tag: 'v0.57.2'

      - run: |
          rattler-build build \
            --wrap-log-lines=false \
            --log-style=plain \
            --output-dir=./output \
            --verbose \
            --recipe=./conda/recipe.yaml
        shell: bash

      - run: ls ./output/

      - uses: actions/upload-artifact@v6
        with:
          name: 'conda-${{ runner.os }}-${{ runner.arch }}'
          path: ./output/**/*.conda

  build-windows:
    name: Build conda (windows)
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
          - os: windows-11-arm
    env:
      RATTLER_BUILD_EXPERIMENTAL: 'true'

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'

      - run: rm C:/Strawberry/perl/bin -rf
        shell: bash

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ runner.arch == 'ARM64' && 'arm64' || 'x64' }}

      - uses: jaxxstorm/action-install-gh-release@v2.1.0
        with:
          repo: prefix-dev/rattler-build
          tag: 'v0.57.2'

      - run: |
          rattler-build build \
            --wrap-log-lines=false \
            --log-style=plain \
            '--output-dir=C:/rattler-output' \
            --verbose \
            --recipe=./conda/recipe.yaml
        shell: bash

      - run: ls C:/rattler-output

      - uses: actions/upload-artifact@v6
        with:
          name: 'conda-${{ runner.os }}-${{ runner.arch }}'
          path: C:/rattler-output/**/*.conda
