name: build conda packages

on:
  workflow_call:

jobs:
  build:
    name: Build conda
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-15
          - os: macos-15-intel
          - os: windows-latest
          - os: ubuntu-24.04
          - os: ubuntu-24.04-arm
          # - os: windows-11-arm

    env:
      WORK_DIR: ${{ github.workspace }}

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Shorten workspace path on Windows
        if: ${{ runner.os == 'Windows' }}
        shell: pwsh
        run: |
          if (Test-Path C:\w) { Remove-Item -Recurse -Force C:\w }
          New-Item -ItemType Junction -Path C:\w -Target $env:GITHUB_WORKSPACE | Out-Null
          'WORK_DIR=C:/w' | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - uses: actions/setup-python@v6
        with:
          python-version: '^3.11.0'

      - shell: python
        working-directory: ${{ env.WORK_DIR }}
        run: |
          import tomllib
          import os
          from pathlib import Path
          project = tomllib.loads(Path('pyproject.toml').read_text('utf-8'))
          with Path(os.environ["GITHUB_ENV"]).open('a', encoding='utf-8') as f:
              f.write("BENCODE2_CONDA_VERSION=" + project['project']['version'])

      - run: rm C:/Strawberry/perl/bin -rf
        if: ${{ runner.os == 'Windows' }}
        shell: bash

      - uses: ilammy/msvc-dev-cmd@v1
        if: ${{ runner.os == 'Windows' }}
        with:
          arch: ${{ runner.arch == 'ARM64' && 'arm64' || 'x64' }}

      - uses: jaxxstorm/action-install-gh-release@v2.1.0
        with:
          repo: prefix-dev/rattler-build
          tag: 'v0.41.0'

      - run: |
          rattler-build build \
            --wrap-log-lines=false \
            --log-style=plain \
            --output-dir=./output \
            --verbose \
            --recipe=./conda/recipe.yaml
        shell: bash
        working-directory: ${{ env.WORK_DIR }}

      - run: ls ./output/
        working-directory: ${{ env.WORK_DIR }}

      - uses: actions/upload-artifact@v6
        with:
          name: 'conda-${{ runner.os }}-${{ runner.arch }}'
          path: ${{ env.WORK_DIR }}/output/*/*.conda
          if-no-files-found: ignore
