name: build pypi wheels

on:
  workflow_call:

jobs:
  build_wheels:
    name: Build wheels
    runs-on: ${{ matrix.os }}
    env:
      SCCACHE_GHA_ENABLED: 'true'
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-15
            cibw_build: '*'

          - os: macos-15-intel
            cibw_build: '*[02468]-*'

          - os: macos-15-intel
            cibw_build: '*[13579]-*'

          - os: windows-latest
            cibw_build: '*[02468]-*'

          - os: windows-latest
            cibw_build: '*[13579]-*'

          - os: windows-11-arm
            cibw_build: '*[02468]-*'

          - os: windows-11-arm
            cibw_build: '*[13579]-*'

          - os: ubuntu-24.04
            cibw_build: '*[02468]-*'

          - os: ubuntu-24.04
            cibw_build: '*[13579]-*'

          - os: ubuntu-24.04-arm
            cibw_build: '*[02468]-*'

          - os: ubuntu-24.04-arm
            cibw_build: '*[13579]-*'

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'

      - run: rm C:/Strawberry/perl/bin -rf
        if: ${{ runner.os == 'Windows' }}
        shell: bash

      - uses: ilammy/msvc-dev-cmd@v1
        if: ${{ runner.os == 'Windows' }}
        with:
          arch: ${{ runner.arch == 'ARM64' && 'arm64' || 'x64' }}

      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
        if: ${{ (runner.os != 'Linux') && !(runner.arch == 'ARM64' && runner.os == 'Windows') }}
        with:
          disable_annotations: true
          token: ${{ github.token }}

      - name: Install the latest version of uv
        if: ${{ runner.os != 'Linux' }}
        uses: astral-sh/setup-uv@v7

      - name: Restore cached Primes
        if: ${{ runner.os != 'Linux' }}
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ env.UV_CACHE_DIR }}
            ~\AppData\Local\pypa\cibuildwheel\Cache
            ~/Library/Caches/cibuildwheel
            ~/.cache/cibuildwheel
          key: 'cibuildwheel-${{ runner.os }}-${{ runner.arch }}-${{ matrix.cibw_build }}'

      - uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_BUILD_FRONTEND: 'build[uv]'
          CIBW_ARCHS: 'native'
          CIBW_BUILD: ${{ matrix.cibw_build }}
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: 'pytest {project}/tests --assert-pkg-compiled=true'
          MACOSX_DEPLOYMENT_TARGET: '11.0'

      - run: ls ./wheelhouse/

      - uses: actions/upload-artifact@v5
        with:
          name: 'wheels-${{ runner.os }}-${{ runner.arch }}-${{ strategy.job-index }}'
          path: ./wheelhouse/*.whl
          if-no-files-found: ignore

  build:
    name: make sdist and wheel
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - run: pipx run build -w
        env:
          BENCODE2_PURE_PYTHON: '1'

      - uses: actions/upload-artifact@v5
        with:
          name: 'wheels-py'
          path: dist/*
