name: lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - run: pip install -r requirements.txt

      - uses: liskin/gh-problem-matcher-wrap@v3
        with:
          action: add
          linters: mypy

      - name: mypy
        run: mypy --show-column-numbers bencode2

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - run: pip install pre-commit

      - uses: trim21/actions/pre-commit@master
