name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  wheels:
    uses: ./.github/workflows/_build_wheels.yaml

  upload-pypi:
    name: Upload wheels to PyPI
    needs: [wheels]
    permissions:
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1

  conda:
    uses: ./.github/workflows/_build_conda.yaml

  upload-conda:
    name: Upload packages to Conda
    needs: [conda]
    permissions:
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: conda-*
          path: dist
          merge-multiple: true

      - run: ls dist -ahl
      - run: tree .

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.44.0
          run-install: false

      - run: pixi global install rattler-build

      - name: Upload all packages
        run: rattler-build upload prefix -c trim21-pkgs dist/**/*.conda
